<ev-topnavbar></ev-topnavbar>
<div id="kus11" class="g20b"><i>|</i>
  <div>x</div>
</div>
<div class="sol"></div>
<div class="sag"></div>
<div class="kese">
  <div class="anchor">
    <div class="anchor_sol">
      <ul id="nav" class="destek-nav">
        <li><a href="/support#section-1" class="anchor-link top">Nasıl Üye Olurum</a></li>
        <li><a href="/support#section-2" class="anchor-link">Evarlik.com Nasıl Çalışır</a></li>
        <li><a href="/support#section-3" class="anchor-link">TL Yatırma ve Çekme</a></li>
        <li><a href="/support#section-4" class="anchor-link">Coin Yatırma ve Çekme</a></li>
        <li><a href="/support#section-5" class="anchor-link">Dijital (Kripto) Para Nedir</a></li>
        <li><a href="/support#section-6" class="anchor-link">Riskler Nelerdir</a></li>
        <li><a href="/support#section-7" class="anchor-link">En Düşük Neden Sizde</a></li>
        <li><a href="/support#section-8" class="anchor-link">İletişim</a></li>
        <li><a href="/support#section-9" class="anchor-link">Terimler Sözlüğü</a></li>
      </ul>
    </div>
    <div class="anchor_sag">
      <!-- Anchor sağ başlangıç -->
      <div id="section-1" class="section">
        <h2>Evarlik.com'a Nasıl Üye Olunur</h2>
        <div>
          <p class="sek"><i class="_i info"></i>Üye olmadan önce bilmenizi isteriz ki evarlik.com 256bit SSL sertifikası
            ve Comodo tarafından verilen "GREENBAR" doğrulamasına sahiptir. Size gelen ve sizin gönderdiğiniz tüm
            veriler şifrelenir.</p>

          <p>Evarlik.com olarak üyelik işlemlerinin kolayca ve hızlı olmasına önem gösteriyoruz; yalnızca güvenli
            ticaret için gerekli bilgileri talep ediyoruz. Bu nedenle evarlik.com üyeliği çok kolay ve hızlı olacak
            şekilde tasarlandı.</p>

          <p>Üyelik sürecini başlatmak için kayıt formunda size ait temel bilgileri isteyen alanları doldurmanız yeterli
            olacaktır. Bu bilgiler sizden başkasının hesabınıza ulaşmaması için isteniyor. Kesinlikle üçüncü kişiler ile
            paylaşılmıyor.</p>

          <p>Kayıt sayfasına anasayfadan ulaşabilirsiniz.</p>
        </div>

        <h3>İstenebilecek Evraklar</h3>
        <div>
          <p>Evarlik.com olarak toplamda 1000.00 TL'ye kadar olan tranferlerde belge talep etmiyoruz. Ancak bakiye çekme
            taleplerinde mutlaka sisteme kayıt yaptırdıgınız bilgilerin olduğu kimlik belgesini iletmelisiniz.</p>
          <p>Profesyonel ve güvenli alış/satış süreci yaşamanız için kimliğinizi doğrulayacak bilgi ve belgeler
            isteyebiliriz. Sağladığınız bilgiler onaylanana kadar hizmetlerimizi kullanımınız kısıtlanabilir.</p>
          <p>İstenilen belgeler bakiye ve işlem hacminize göre değişklik gösterebilir. İlk kayıt sonrasında eğer gerekli
            ise talep edilen belgeler size iletilecektir. </p>
        </div>
        <div>
          <a href="assets/data/Evarlik_kullanici_sozlesmesi_s_1_0.pdf" target="_blank">Evarlik.com Üyelik Sözleşmesi'</a>ni indirmek için tıklayınız.
        </div>

      </div>

      <div id="section-2" class="section">
        <h2>Evarlik.com Nasıl Çalışır</h2>
        <div>
          <p>Evarlik.com, Bitcoin, Litecoin, Ripple, Doge Coin, IOTA gibi dijital para alıp satabileceğiniz bir
            platformdur. Üyelik sonrası platforma TL ya da eğer cüzdanınız varsa hesabınızdan kripto para (dijital para)
            gönderirsiniz. Hesabınızda bulunan TL ile dijital para alabilir ya da dijital para cüzdanınızda bulunan
            miktarları satabilirsiniz. Alış verişin gerçekleşmesi için kripto ya da dijital para almak ya da satmak
            isteyenler tekliflerini platforma girerler. </p>
        </div>
        <h3>Satış ve Alış Teklifilerini Görme</h3>
        <div>
          <p>Güncel Alış ve Satış tekliflerini Coin Al/Sat ekranından sağ ve solda bulunan tablolardan görebilirsiniz.
            Tablolar, fiyatlar ve adetler güncellendikçe otomatik olarak değişecektir. Böylece sayfa yenilemeye gerek
            kalmadan en güncel fiyatları görebilirsiniz. Evarlik.com'da coin almak ve satmak çok kolaydır, bir kaç
            dakika içerisinde öğrenip, kolayca coin alış satış işlemlerine başlarsınız.</p>
        </div>
        <h3>Alış Emri Verme</h3>
        <div>
          <p>'<b>Coin Al/Sat</b>' ekranında sol bölümde yer alan tabloda güncel satış emirlerini görebilirsiniz. En
            üstte bulunan teklif en düşük satış fiyatıdır. En düşük satış fiyatı üzerine tıklayıp, satış miktarı uygun
            ise istediğiniz adette coin alabilirsiniz. Eğer daha düşük fiyattan coin almak isterseniz, ileriye dönük bir
            emir verebilirsiniz.</p>
        </div>
        <h3>Satış Emri Verme</h3>
        <div>
          <p>'<b>Coin Al/Sat</b>' ekranında sağ bölümde yer alan tabloda güncel alış emirlerini görebilirsiniz. En üstte
            bulunan teklif en yüksek alış fiyatıdır. En yüksek alış fiyatı üzerine tıklayıp, alış miktarı uygun ise
            istediğiniz adette coin satabilirsiniz. Eğer daha yüksek fiyattan coin satmak isterseniz, ileriye dönük bir
            emir verebilirsiniz.</p>
        </div>
        <h3>Açık Emirleri ve Gerçekleşen Emirleri Görme</h3>
        <div>
          <p>'<b>Coin Al/Sat</b>' ekranında alt kısmında bulanan tablodan açık emirlerinizi, kısmi gerçekleşen
            emirlerinizi, gerçekleşmiş emirlerinizi ve iptal ettiğiniz emirlerinizi görebilirsiniz.</p>
        </div>
      </div>

      <div id="section-3" class="section">
        <h2>TL Yatırma ve Çekme</h2>
        <div>
          <p>Evarlik.com sadece Havale ve EFT olarak TL yatırma ve çekme işlemi yapmaktadır. Kredi Kartı ile ödeme şu an
            için kabul etmemektedir</p>
          <p>Evarlik.com olarak para yatırma ve çekme işlemlerinizi hızlı ve güvenli şekilde yapıyoruz. Sizin adınıza
            kayıtlı banka hesabı dışında bir hesaptan para kabul etmiyoruz ve göndermiyoruz.</p>
          <p class="sek"><i class="_i info"></i>İlk TL yatırma işleminde 1000.00 TL ye kadar olan tutarı kimlik
            doğrulaması olmadan yapabilirsiniz. Daha sonra para çekme işleminde kimlik onayı yapmalısınız. Bu uygulama
            hızlı şekilde ilk işlemleri yapabilmeniz içindir.</p>
        </div>
        <h3>TL Yatırma</h3>
        <div>
          <p>Evarlik.com hesabınıza havale/EFT yapmadan önce hesabınıza giriş yapın. Platformda bulunan Para Yatır/Çek
            sayfasına gidin. Sayfada "Evarlık Hesabınıza TL Yatırın" bölümünden yatıracağınız TL miktarını girin. "TL
            Yatır" butonuna tıklayın sistem Evarlik.com banka bilgileri (Banka Adı / IBAN) ve 4 haneli bir pin
            verecektir. Size verilen bankanın IBAN hesabına Ad Soyad ve 4 haneli PIN kodunu açıklama bölümüne yazarak
            havale ya da EFT yapın.</p>
          <p class="sek"><i class="_i info"></i><u>Pin numarasını açıklama bölümüne yazmanız yatırdığınız tutarın
            hızlıca hesabınıza geçmesi bakımından önemlidir. PIN kodu olmayan tutarlar geri iade edilebilir.</u></p>
        </div>
        <h3>TL Çekme</h3>
        <div>
          <p>Para çekme işlemi başlatmadan önce hesabınıza girerek, sistemimize kendi banka adınızı ve IBAN numaranızı
            girip onaylattığınızdan emin olun. Eğer bilgileriniz doğru ise platformda bulunan Para Yatır/Çek sayfasına
            gidin. Sayfada "Banka Hesabınıza TL Çekme" bölümünden çekmek istediğiniz tutarı girin. "TL Çek" butonuna
            tıklayın, ekibimiz en kısa sürede talep ettiğiniz tutarı hesabınıza gönderecektir. </p>
          <p></p>
        </div>
        <p class="sek"><i class="_i info"></i>25000.00 TL üzerindeki TL çekme taleplerinde telefon ile ayrıca onayınızı
          alıyoruz.</p>
      </div>

      <div id="section-4" class="section">
        <h2>Coin Yatırma ve Çekme</h2>
        <p>Evarlik.com olarak başka cüzdanlarınızdan coinlerinizi aktarabilir ya da platformumuzda bulunan coin
          bakiyenizi başka cüzdanlara aktarabilirsiniz.</p>
        <p class="sek"><i class="_i info"></i><u>Yanlış cüzdan adresine coin gönderme dijital paranızın kaybolmasına yol
          açar. Bu işlemi yapmadan önce kesinlikle ne yaptığınızı ve nasıl yapacağınızı bildiğinizden emin olun.</u></p>
        <h3>Coin Yatırma</h3>
        <div>
          <p> Evarlik.com hesabınızda Coin Cüzdanı sayfasına gidin. Hangi coin türünde işlem yapacaksanız seçin. "Coin
            Yatırma" bölümünden eğer daha önce cüzdan oluşturmamış iseniz "Cüzdan Oluştur" butonuna tıklayın. Cüzdan
            adresiniz ve adres barkodunuz otomatik olarak oluşacaktır.</p>
          <p>Cüzdan adresiniz varsa cüzdan adresini <b>doğru kopyaladığınızdan emin olarak</b>, coin hesabınız olan
            sisteme bu adresi giriniz ve coin gönderin. Coinlerin Evarlik.com platformundaki cüzdana gelmesi bir miktar
            vakit alacaktır. "GELEN TRANSFER KONTROL ET" butonuna basarak gelen transfer varsa görebilir ve takip
            edebilirsiniz.</p>
          <p class="sek"><i class="_i info"></i><u>Yüksek işlem hacminden ötürü Bitcoin transferleri 3-5 saat aralığında
            sürebilmektedir.</u></p>
        </div>

        <h3>Coin Çekme</h3>
        <div>
          <p>Evarlik.com hesabınızda Coin Cüzdanı sayfasına gidin. Hangi coin türünde işlem yapacaksanız seçin. "Coin
            Yatırma" bölümünden coinleri göndermek istediğiniz adresi girin. (Adresi doğru girdiğinizden kesinlike emin
            olun). Göndermek istediğiniz coin miktarını girin. "TRNSFER ET" butonuna tıklayın. Coinleriniz giriş
            yaptığınız adrese transfer edilecektir.</p>
          <p class="sek"><i class="_i info"></i><u>Coin göndermek istediğiniz adresin doğru olduğundan kesinlikle emin
            olmalısınız. Yanlış adrese gönderilen coinler kaybolur.</u></p>
        </div>

      </div>

      <div id="section-5" class="section">
        <h2>Dijital (Kripto) Para Nedir</h2>
        <div>
          <p>Crypto ve currency kelimelerinin bir araya getirilmesiyle yaratılmış olan cryptocurrency deyimi kripto
            (şifreli) para anlamına geliyor. Kripto para; internet aracılığıyla kullanılan, hiçbir merkezi otoriteye ya
            da aracı kuruma bağlı olmayan, sanal para birimini ifade ediyor. Kripto paralar ancak belirli şifreler
            kullanılarak yerleştirildiği sanal cüzdanlardan yine şifreler aracılığıyla çıkarılıp kullanılabildiği için
            bu adı taşıyorlar. Kripto para birimleriyle kişiler ya da kurumlar tıpkı gerçek parayla yaptıkları gibi
            harcama yapabiliyor ya da para kabul edebiliyor.</p>
          <p>Şu an dünyada 1000 den fazla kripto para bulunmakta, ancak en çok tercih edilenlerin alış satışını
            Evarlik.com aracılığı ile yapabilirsiniz.</p>
        </div>

        <h3>En çok İşlem Yapılan 30 Dijital Para</h3>
        <div>
          <p>2018 başı itibariyle en çok günlük işlem hacmi olan kripto paralar</p>
          <span class="kripto_liste _g"><ul>

<li>Bitcoin - BTC</li>
<li>Litecoin - LTC</li>
<li>Ethereum - ETH</li>
<li>Bitcoin Cash - BCH</li>
<li>Ripple - XRP</li>
<li>Cardano - ADA</li>
<li>IOTA - MIOTA</li>
<li>Dash - DASH </li>
<li>NEM - XEM</li>
<li>Monero - XMR </li>
<li>Bitcoin Gold - BTG</li>
<li>Stellar - XLM</li>
<li>NEO - NEO</li>
<li>Ethereum Classic - ETC</li>
<li>Qtum - QTUM</li>
<li>BitConnect - BCC </li>
<li>Lisk - LSK</li>
<li>Zcash - ZEC</li>
<li>Waves - WAVES</li>
<li>Stratis - STRAT </li>
<li>BitShares - BTS</li>
<li>Hshare - HSR</li>
<li>Bytecoin - BCN</li>
<li>Nxt - NXT</li>
<li>MonaCoin - MONA</li>
<li>Verge - XVG</li>
<li>Dogecoin - DOGE </li>
<li>Steem - STEEM</li>
<li>Ark - ARK</li>
<li>Decred - DCR</li>
				</ul>
				</span>
        </div>
      </div>

      <div id="section-6" class="section">
        <h2>Riskler Nelerdir</h2>
        <div>
          <p>Bütün yatırımlarda olduğu gibi dijital paralarda da riskler mevcuttur, ancak bu riskler genelde sorumsuz
            davranış, kazara ya da dikkatsizlikten gerçekleşir. Kripto paralarda oluşacak riskler üç grupta
            incelenebilir.</p>
          <h3>Finansal Riskler</h3>
          <div>
            <p>Dijital paralara karşı dünyada bir talep patlaması yaşanmaktadır. Dijital paraların değeri çok hızlı
              yükselişler ya da düşüşler gösterebilir. Yatırımlarınızı yükselişler ve düşüşlerin size olan mali etkisini
              de düşünerek yapmalısınız.</p>
          </div>
          <h3>Eksik Güvenlik</h3>
          <div>
            <p>Dijital paranız adından da anlaşıldığı gibi dijital ortamdadır. Bu nedenle şifrenizi çok iyi seçmeli ve
              korumalısınız. Kötü niyetli yazılım ya da kişiler şifrenizi ele geçirip paranızı transfer
              edebilirler. </p>
          </div>
          <h3>Cüzdan Adresini Yanlış Girme</h3>
          <div>
            <p>Dijital paranızı başka hesaplara aktarırken çok dikkatli olmalısınız. Yanlış cüzdan adresine
              gönderirseniz, paranız tamamen kaybolur.</p>
          </div>
        </div>
      </div>

      <div id="section-7" class="section">
        <h2>Evarlik.com Ücretleri Neden Düşük </h2>
        <p>Evarlik.com ailesi olarak dijital (Kripto) paraların geleceğine inanıyoruz. Biz ve bizimle beraber yatırım
          yapan üyelerimizle büyümek için en rekabetçi fiyatlarla en iyi hizmeti vermek için hizmet bedellerimizi
          minimum seviyede tuttuk.</p>
        <h3><a>Ücretler Listesi</a></h3>
      </div>

      <div id="section-8" class="section">
        <h2>İletişim</h2>
        <p>Evarlik.com olarak sizlere hızlı, kolay anlaşılır ve en uygun ücretlerle hizmet vermeyi arzu ediyoruz. Bu
          nedenle sizlerin soru ve taleplerini sadece yazılı olarak alıp hızlı şekilde geri dönüş yapacağız. </p>
        <h3>TL Yatırma ve Çekme </h3>
        <div>
          <p><b>finans@evarlik.com</b> adresinden TL yatırma çekme ile ilgili sorularınızı ve coin göndeme ve alma
            sorularınızı iletebilirsiniz.</p>
        </div>
        <h3>Evarlik.com Platform Soruları</h3>
        <div>
          <p><b>destek@evarlik.com</b> adresinden platformumuz ile ilgili soru ve önerilerinizi iletebilirsiniz.</p>
        </div>
        <h3>Coin Minerları ve Coin Yatırma ve Gönderme Soruları</h3>
        <div>
          <p><b>coin@evarlik.com</b> adresinden coinlerle ilgili konuları iletebilirsiniz.</p>
          <p class="sek"><i class="_i info"></i><u>Coin göndermek istediğiniz adresin doğru olduğundan kesinlikle emin
            olmalısınız. Yanlış adrese gönderilen coinler kaybolur. Bu konuda yapabileceğimiz hiçbirşey yoktur.</u></p>
        </div>
        <h3>Firma Bilgileri</h3>
        <div>
          <p>Evarlik.com KOBİP BİLİŞİM A.Ş.'nin dijital para platformudur.</p>
          <p><b>KOBİP BİLİŞİM A.Ş.</b><br>
            <span>Alacaatlı Mh. Relax Plus Residance</span><br>
            <span>A Blok 133</span><br>
            <span>Çankaya / ANKARA</span></p>
        </div>
      </div>

      <div id="section-9" class="section">
        <h2>Dijital (Kripto) Para Terimler ve Tanımlar Sözlüğü</h2>
        <div class="terim">
          <p>Dijital (kripto) para dünyasından kullanılan bazı terim, kısaltma ve ifadelerin açıklamaları</p>
          <div>
            <div>Cüzdan</div>
            <div>Bitcoin, Litecoin gibi coinleri tuttuğunuz cüzdandır. Mobil, Dizüstü, Mobil, USB ve hatta kağıt
              cüzdanlar vardır. her cüzdan sadece tek bir çeşit coin tuttabilir, yani her farklı tip coin için farklı
              bir cüzdanınız olması gerekmektedir.
            </div>
          </div>
          <div>
            <div>Cüzdan Adresi</div>
            <div>Cüzdanlarınızın şifrelenmiş adresleridir, farklı coinler için farklı uzunlukta harf ve sayılardan
              oluşmuş dizelerden oluşur. Cüzdan adresinizi başkalarına verebilirsiniz, böylece karşıdaki kişiler sizin
              cüzdanınıza coin gönderebilir.
            </div>
          </div>
          <div>
            <div>Transfer Ücreti</div>
            <div>Coinler bilgisayar ağları üzerinden pek çok doğrulama yapılarak transfer edilirler, bu doğrulama
              işlemleri gibi prosedürler için bir miktar ücret ödenir. Bu ücretlerin toplamı transfer ücreti adı
              altından toplanır.
            </div>
          </div>
          <div>
            <div>Taker</div>
            <div>Market içinde açık alım satım pozisyonlarından birine uygun teklif vererek, emir listelenmeden direkt
              alış satış yapan tarafa denir.
            </div>
          </div>
          <div>
            <div>Maker</div>
            <div>Markete bir alım ve ya satım pozisyonunu açan kişi olma durumudur. Piyasa yapıcı olarak da anılır.
            </div>
          </div>
          <div>
            <div>Miner</div>
            <div>Bilgisayarlarında komplex yapıdaki kriptolanmış veriyi doğrulayarak coin üreten kişi ve şirketlerdir.
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Anchor sağ kapanış -->

  </div>
  <!-- Anchor kapanış -->


</div>
